<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Board2Make.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
<userSettings>
        <Board2Make.Properties.Settings>
                <setting name="makeExePath" serializeAs="String">
                        <value />
                </setting>
                <setting name="arduinoBase" serializeAs="String">
                        <value />
                </setting>
                <setting name="uplPjrcBase" serializeAs="String">
                        <value />
                </setting>
                <setting name="uplTyBase" serializeAs="String">
                        <value />
                </setting>
                <setting name="projectBase" serializeAs="String">
                        <value />
                </setting>
                <setting name="boardsTxtPath" serializeAs="String">
                        <value />
                </setting>
                <setting name="coreBase" serializeAs="String">
                        <value />
                </setting>
                <setting name="compilerBase" serializeAs="String">
                        <value />
                </setting>
        </Board2Make.Properties.Settings>
    </userSettings>
</configuration>